<div class="container">

    <div class="text-center">
    
      <h2>Check your emails</h2>
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      
      <%= button_to "Receive an email", emails_path, data:{method: "POST"}, class:"btn btn-primary", remote: true %>
    </div>

    <div class="row mt-5">
     
      <div class="col-3">
        <div class="list-group" id="list-email">
          <h4>Objects</h4>
          <% @emails.each do |email| %>
            <%= render 'email', email: email %>
          <% end %>
        </div>
      </div>

       <div class="col-9">
          <h4>Email</h4>
          <div class="card" id="body-email">
            
          </div> 
      </div>
    </div> 

  
  </div>
</div>