  <footer class="mt-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2020-2021 ChrisBlassiaux</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://github.com/ChrisBlassiaux">Github</a></li>
        <li class="list-inline-item"><a href="https://www.instagram.com/chris.blassiaux/?hl=fr">Instagram</a></li>
        <li class="list-inline-item"><a href="http://chrisb.fr/">SiteWeb</a></li>
      </ul>
    </footer>